{
    "_comment"   : "Configure objectives to optimize for",
    "objectives" : {
        "local_resolution_1" : {
            "inputs"     : ["single_electron"],
            "path"       : "$THIS_MOBO/objectives",
            "exec"       : "LowQ2LocalResolution.py",
            "rule"       : "python <EXEC> -s <SIM> -r <RECO> -o <OUTPUT> -t 1",
            "stage"      : "ana",
            "goal"       : "minimize",
            "threshold"  : 1.0
        },
        "local_resolution_2" : {
            "inputs"    : ["single_electron"],
            "path"      : "$THIS_MOBO/objectives",
            "exec"      : "LowQ2LocalResolution.py",
            "rule"      : "python <EXEC> -s <SIM> -r <RECO> -o <OUTPUT> -t 2",
            "stage"     : "ana",
            "goal"      : "minimize",
            "threshold" : 1.0
        },
        "global_resolution" : {
            "inputs"    : ["single_electron"],
            "path"      : "$THIS_MOBO/objectives",
            "exec"      : "LowQ2GlobalResolution.py",
            "rule"      : "python <EXEC> -i <RECO> -o <OUTPUT>",
            "stage"     : "ana",
            "goal"      : "minimize",
            "threshold" : 1.0
        }
    }
}
