{
    "_comment"      : "Configures runtime options, and paths to EIC software components",
    "conda"         : "<path-to-your-script>/conda.sh",
    "environment"   : "lowq2-mobo",
    "out_path"      : "$THIS_MOBO/out",
    "run_path"      : "$THIS_MOBO/run",
    "log_path"      : "$THIS_MOBO/log",
    "eic_shell"     : "<path-to-your-script>/eic-shell",
    "overlap_check" : "checkOverlaps",
    "epic_setup"    : "$THIS_MOBO/epic/install/bin/thisepic.sh",
    "det_path"      : "$THIS_MOBO/epic/install/share/epic",
    "cmake_path"    : "$THIS_MOBO/epic",
    "det_path"      : "$THIS_MOBO/epic/install/share/epic",
    "det_config"    : "epic_ip6_extended",
    "sim_exec"      : "npsim",
    "sim_input"     : {
        "single_electron" : {
            "location" : "$THIS_MOBO/steering/electron",
            "type"     : "gps"
        },
        "pythia6" : {
            "_comment" : "currently unused",
            "location" : "$THIS_MOBO/steering/pythia",
            "type"     : "hepmc"
        }
    },
    "rec_exec"    : "eicrecon",
    "rec_collect" : [
        "MCParticles",
        "GeneratedParticles",
        "BackwardBeamlineHits",
        "TaggerTrackerM1LocalTracks",
        "TaggerTrackerM2LocalTracks",
        "TaggerTrackerReconstructedParticles"
    ],
    "sched_n_jobs"        : 1,
    "monitoring_interval" : 30
}
